header{
    background-color: var(--headandfoot_bg);

    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__inner{
    width: 90vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    color: var(--redtext_color);
    font-size: xx-large;
    font-family: "Paperlogy-9";

    display: flex;
    align-items: center;
    justify-content: center;
}


.header__tabs {
    color: var(--text_color);
    font-size: large;
    font-family: "Paperlogy-6";

    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}