.iit__tabs{
    background-color: var(--frame_bg);
    border-radius: 10px;
    outline: solid 2px var(--outline_color);

    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.iit__tab{
    width: 33.33%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--frame_bg);
    color: var(--text_color);
    font-size: x-large;
    font-family: "Paperlogy-6";

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s ease;

    cursor: pointer;
}

.iit__tab__selected{
    background-color: var(--selected_bg);
}